/****** Object:  Table [dbo].[Deploy_Application]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Application](
	[AppId] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [nvarchar](max) NOT NULL,
	[AppMainVersionId] [int] NULL,
	[AppKeepOldFilesForDays] [int] NOT NULL,
	[AppCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Deploy_Application] PRIMARY KEY CLUSTERED 
(
	[AppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Binary]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Binary](
	[MD5] [uniqueidentifier] NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[BinGz] [varbinary](max) NULL,
	[Size] [int] NOT NULL,
	[IsSchema] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Deleted] [datetime] NULL,
 CONSTRAINT [PK_Deploy_Binary] PRIMARY KEY CLUSTERED 
(
	[MD5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Formats]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Formats](
	[FormatId] [int] NOT NULL,
	[FormatName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Formats] PRIMARY KEY CLUSTERED 
(
	[FormatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Groups]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupAppId] [int] NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Instance]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Instance](
	[InstanceId] [int] IDENTITY(1,1) NOT NULL,
	[InstanceClientId] [int] NOT NULL,
	[InstanceSuffix] [nvarchar](10) NULL,
	[InstanceName] [nvarchar](255) NOT NULL,
	[InstanceAppId] [int] NOT NULL,
	[InstanceSpecialVersionId] [int] NULL,
	[InstanceSpecialVersionName] [nvarchar](max) NULL,
	[InstanceWebNameAzure] [nvarchar](255) NULL,
	[InstanceWebHostName] [nvarchar](255) NULL,
	[InstanceWebUseSsl] [bit] NOT NULL,
	[InstanceWebSubDir] [nvarchar](255) NULL,
	[InstanceDbNameAzure] [nvarchar](255) NULL,
	[InstanceDbLogin] [nvarchar](255) NULL,
	[InstanceDbUserName] [nvarchar](255) NULL,
	[InstanceDbPassword] [nvarchar](255) NULL,
	[InstanceDbConnectionString] [nvarchar](max) NULL,
	[InstanceAppLogin] [nvarchar](255) NULL,
	[InstanceAppPassword] [nvarchar](255) NULL,
	[InstanceSettingsImported] [datetime] NULL,
	[InstanceSettingsExported] [datetime] NULL,
	[InstanceCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Deploy_Instance] PRIMARY KEY CLUSTERED 
(
	[InstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Keys]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Keys](
	[KeyName] [nvarchar](255) NOT NULL,
	[KeyGroupId] [int] NULL,
	[KeyFormatId] [int] NULL,
	[KeyDefaultString] [nvarchar](max) NULL,
	[KeyDefaultBoolean] [bit] NULL,
	[KeyDefaultInteger] [int] NULL,
	[KeyIsEncrypted] [bit] NOT NULL,
 CONSTRAINT [PK_Keys_1] PRIMARY KEY CLUSTERED 
(
	[KeyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_PushedUpgrades]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_PushedUpgrades](
	[PushId] [int] IDENTITY(1,1) NOT NULL,
	[PushInstanceId] [int] NOT NULL,
	[PushUserName] [nvarchar](255) NOT NULL,
	[PushOldVersionId] [int] NOT NULL,
	[PushOldSchemaMD5] [uniqueidentifier] NULL,
	[PushNewVersionId] [int] NOT NULL,
	[PushNewSchemaMD5] [uniqueidentifier] NULL,
	[PushStarted] [datetime] NOT NULL,
	[PushCompleted] [datetime] NULL,
 CONSTRAINT [PK_Deploy_PushedUpgrades] PRIMARY KEY CLUSTERED 
(
	[PushId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Releases]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Releases](
	[ReleaseId] [int] IDENTITY(1,1) NOT NULL,
	[ReleaseAppId] [int] NOT NULL,
	[ReleaseInstanceId] [int] NULL,
	[ReleaseVersionId] [int] NOT NULL,
	[ReleaseAppName] [nvarchar](max) NOT NULL,
	[ReleaseBranchName] [nvarchar](max) NULL,
	[ReleaseVersionName] [nvarchar](max) NOT NULL,
	[ReleaseCreated] [datetime] NOT NULL,
	[ReleaseExpired] [datetime] NULL,
 CONSTRAINT [PK_Deploy_TargetVersionHistory] PRIMARY KEY CLUSTERED 
(
	[ReleaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_ReportHistory]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_ReportHistory](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportInstanceId] [int] NOT NULL,
	[ReportInitialVersionId] [int] NOT NULL,
	[ReportInitialSchemaMD5] [uniqueidentifier] NULL,
	[ReportAppStarted] [datetime] NOT NULL,
	[ReportAppStopped] [datetime] NULL,
 CONSTRAINT [PK_Deploy_ReportHistory] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_UpgradeHistory]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_UpgradeHistory](
	[ChangeId] [int] IDENTITY(1,1) NOT NULL,
	[ChangeReportId] [int] NOT NULL,
	[ChangeNewVersionId] [int] NOT NULL,
	[ChangeNewSchemaMD5] [uniqueidentifier] NULL,
	[ChangeStarted] [datetime] NOT NULL,
	[ChangeFinished] [datetime] NULL,
 CONSTRAINT [PK_Deploy_UpgradeHistory] PRIMARY KEY CLUSTERED 
(
	[ChangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Values]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Values](
	[ValueId] [int] IDENTITY(1,1) NOT NULL,
	[ValueInstanceId] [int] NOT NULL,
	[ValueKeyName] [nvarchar](255) NOT NULL,
	[ValueString] [nvarchar](max) NULL,
	[ValueBoolean] [bit] NULL,
	[ValueInteger] [int] NULL,
 CONSTRAINT [PK_Values] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_Version]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_Version](
	[VersionId] [int] IDENTITY(1,1) NOT NULL,
	[VersionAppId] [int] NOT NULL,
	[VersionName] [nvarchar](max) NOT NULL,
	[VersionTotalBytes] [bigint] NOT NULL,
	[VersionUploadedFrom] [nvarchar](max) NOT NULL,
	[VersionExcludedFiles] [nvarchar](max) NOT NULL,
	[VersionFilesMD5] [uniqueidentifier] NULL,
	[VersionSchemaConnStr] [nvarchar](max) NULL,
	[VersionSchemaMD5] [uniqueidentifier] NULL,
	[VersionCreated] [datetime] NOT NULL,
	[VersionExpires] [datetime] NULL,
 CONSTRAINT [PK_Deploy_Version] PRIMARY KEY CLUSTERED 
(
	[VersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deploy_VersionFile]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy_VersionFile](
	[VFId] [int] IDENTITY(1,1) NOT NULL,
	[VFVersionId] [int] NOT NULL,
	[VFBinaryMD5] [uniqueidentifier] NOT NULL,
	[VFPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Deploy_VersionFile] PRIMARY KEY CLUSTERED 
(
	[VFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[vwDeploy_Binary_NullBinGz]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwDeploy_Binary_NullBinGz]
AS
SELECT        MD5, Path, NULL AS BinGz, Size, IsSchema, Created, Deleted
FROM            dbo.Deploy_Binary

GO
/****** Object:  View [dbo].[vwDeploy_UpgradeHistory]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwDeploy_UpgradeHistory]
AS
SELECT        r.*, c.*
FROM            dbo.Deploy_UpgradeHistory AS c INNER JOIN
                         dbo.Deploy_ReportHistory AS r ON c.ChangeReportId = r.ReportId

GO
/****** Object:  Index [IX_Deploy_ReportInitialVersion]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_ReportInitialVersion] ON [dbo].[Deploy_ReportHistory]
(
	[ReportInitialVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_ReportInstanceId]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_ReportInstanceId] ON [dbo].[Deploy_ReportHistory]
(
	[ReportInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_ReportSchemaMD5]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_ReportSchemaMD5] ON [dbo].[Deploy_ReportHistory]
(
	[ReportInitialSchemaMD5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_UpgradeHistory_ChangeReportId]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_UpgradeHistory_ChangeReportId] ON [dbo].[Deploy_UpgradeHistory]
(
	[ChangeReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_UpgradeHistory_NewSchemaMd5]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_UpgradeHistory_NewSchemaMd5] ON [dbo].[Deploy_UpgradeHistory]
(
	[ChangeNewSchemaMD5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_UpgradeHistory_NewVersionId]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_UpgradeHistory_NewVersionId] ON [dbo].[Deploy_UpgradeHistory]
(
	[ChangeNewVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Admin_UniqueInstanceValues]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admin_UniqueInstanceValues] ON [dbo].[Deploy_Values]
(
	[ValueKeyName] ASC,
	[ValueInstanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_VersionFile_MD5]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_VersionFile_MD5] ON [dbo].[Deploy_VersionFile]
(
	[VFBinaryMD5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deploy_VersionFile_VersionId]    Script Date: 10/05/2017 3:43:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Deploy_VersionFile_VersionId] ON [dbo].[Deploy_VersionFile]
(
	[VFVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Deploy_Application] ADD  CONSTRAINT [DF_Table_1_AppKeepDays]  DEFAULT ((30)) FOR [AppKeepOldFilesForDays]
GO
ALTER TABLE [dbo].[Deploy_Groups] ADD  CONSTRAINT [DF_Deploy_Groups_GroupAppId]  DEFAULT ((1)) FOR [GroupAppId]
GO
ALTER TABLE [dbo].[Deploy_Instance] ADD  CONSTRAINT [DF_Deploy_Instance_InstanceWebUseSsl]  DEFAULT ((1)) FOR [InstanceWebUseSsl]
GO
ALTER TABLE [dbo].[Deploy_Version] ADD  CONSTRAINT [DF_Deploy_Version_VersionUploadedFrom]  DEFAULT ('') FOR [VersionUploadedFrom]
GO
ALTER TABLE [dbo].[Deploy_Version] ADD  CONSTRAINT [DF_Deploy_Version_VersionExcludedFiles]  DEFAULT ('') FOR [VersionExcludedFiles]
GO
ALTER TABLE [dbo].[ConfigSettings]  WITH CHECK ADD  CONSTRAINT [FK_ConfigSettings_ConfigFormats] FOREIGN KEY([ValueFormatId])
REFERENCES [dbo].[ConfigFormats] ([FormatId])
GO
ALTER TABLE [dbo].[ConfigSettings] CHECK CONSTRAINT [FK_ConfigSettings_ConfigFormats]
GO
ALTER TABLE [dbo].[ConfigSettings]  WITH CHECK ADD  CONSTRAINT [FK_ConfigSettings_ConfigGroups] FOREIGN KEY([KeyGroupId])
REFERENCES [dbo].[ConfigGroups] ([GroupId])
GO
ALTER TABLE [dbo].[ConfigSettings] CHECK CONSTRAINT [FK_ConfigSettings_ConfigGroups]
GO
ALTER TABLE [dbo].[Deploy_Application]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Application_Deploy_Version] FOREIGN KEY([AppMainVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_Application] CHECK CONSTRAINT [FK_Deploy_Application_Deploy_Version]
GO
ALTER TABLE [dbo].[Deploy_Groups]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Groups_Deploy_Application] FOREIGN KEY([GroupAppId])
REFERENCES [dbo].[Deploy_Application] ([AppId])
GO
ALTER TABLE [dbo].[Deploy_Groups] CHECK CONSTRAINT [FK_Deploy_Groups_Deploy_Application]
GO
ALTER TABLE [dbo].[Deploy_Instance]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Instance_Deploy_Application] FOREIGN KEY([InstanceAppId])
REFERENCES [dbo].[Deploy_Application] ([AppId])
GO
ALTER TABLE [dbo].[Deploy_Instance] CHECK CONSTRAINT [FK_Deploy_Instance_Deploy_Application]
GO
ALTER TABLE [dbo].[Deploy_Instance]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Instance_Deploy_Version] FOREIGN KEY([InstanceSpecialVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_Instance] CHECK CONSTRAINT [FK_Deploy_Instance_Deploy_Version]
GO
ALTER TABLE [dbo].[Deploy_Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Formats] FOREIGN KEY([KeyFormatId])
REFERENCES [dbo].[Deploy_Formats] ([FormatId])
GO
ALTER TABLE [dbo].[Deploy_Keys] CHECK CONSTRAINT [FK_Keys_Formats]
GO
ALTER TABLE [dbo].[Deploy_Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Group] FOREIGN KEY([KeyGroupId])
REFERENCES [dbo].[Deploy_Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Deploy_Keys] CHECK CONSTRAINT [FK_Keys_Group]
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Binary] FOREIGN KEY([PushOldSchemaMD5])
REFERENCES [dbo].[Deploy_Binary] ([MD5])
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades] CHECK CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Binary]
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Binary1] FOREIGN KEY([PushNewSchemaMD5])
REFERENCES [dbo].[Deploy_Binary] ([MD5])
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades] CHECK CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Binary1]
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Instance] FOREIGN KEY([PushInstanceId])
REFERENCES [dbo].[Deploy_Instance] ([InstanceId])
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades] CHECK CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Instance]
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Version] FOREIGN KEY([PushOldVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades] CHECK CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Version]
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Version1] FOREIGN KEY([PushNewVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_PushedUpgrades] CHECK CONSTRAINT [FK_Deploy_PushedUpgrades_Deploy_Version1]
GO
ALTER TABLE [dbo].[Deploy_Releases]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Releases_Deploy_Instance] FOREIGN KEY([ReleaseInstanceId])
REFERENCES [dbo].[Deploy_Instance] ([InstanceId])
GO
ALTER TABLE [dbo].[Deploy_Releases] CHECK CONSTRAINT [FK_Deploy_Releases_Deploy_Instance]
GO
ALTER TABLE [dbo].[Deploy_Releases]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_TargetVersionHistory_Deploy_Application] FOREIGN KEY([ReleaseAppId])
REFERENCES [dbo].[Deploy_Application] ([AppId])
GO
ALTER TABLE [dbo].[Deploy_Releases] CHECK CONSTRAINT [FK_Deploy_TargetVersionHistory_Deploy_Application]
GO
ALTER TABLE [dbo].[Deploy_Releases]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_TargetVersionHistory_Deploy_Version] FOREIGN KEY([ReleaseVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_Releases] CHECK CONSTRAINT [FK_Deploy_TargetVersionHistory_Deploy_Version]
GO
ALTER TABLE [dbo].[Deploy_ReportHistory]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_ReportHistory_Deploy_Instance] FOREIGN KEY([ReportInstanceId])
REFERENCES [dbo].[Deploy_Instance] ([InstanceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deploy_ReportHistory] CHECK CONSTRAINT [FK_Deploy_ReportHistory_Deploy_Instance]
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_Binary] FOREIGN KEY([ChangeNewSchemaMD5])
REFERENCES [dbo].[Deploy_Binary] ([MD5])
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory] CHECK CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_Binary]
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_ReportHistory] FOREIGN KEY([ChangeReportId])
REFERENCES [dbo].[Deploy_ReportHistory] ([ReportId])
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory] CHECK CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_ReportHistory]
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_Version] FOREIGN KEY([ChangeNewVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
GO
ALTER TABLE [dbo].[Deploy_UpgradeHistory] CHECK CONSTRAINT [FK_Deploy_UpgradeHistory_Deploy_Version]
GO
ALTER TABLE [dbo].[Deploy_Values]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Values_Deploy_Instance] FOREIGN KEY([ValueInstanceId])
REFERENCES [dbo].[Deploy_Instance] ([InstanceId])
GO
ALTER TABLE [dbo].[Deploy_Values] CHECK CONSTRAINT [FK_Deploy_Values_Deploy_Instance]
GO
ALTER TABLE [dbo].[Deploy_Values]  WITH CHECK ADD  CONSTRAINT [FK_Values_Keys] FOREIGN KEY([ValueKeyName])
REFERENCES [dbo].[Deploy_Keys] ([KeyName])
GO
ALTER TABLE [dbo].[Deploy_Values] CHECK CONSTRAINT [FK_Values_Keys]
GO
ALTER TABLE [dbo].[Deploy_Version]  WITH CHECK ADD  CONSTRAINT [FK_Deploy_Version_Deploy_Application] FOREIGN KEY([VersionAppId])
REFERENCES [dbo].[Deploy_Application] ([AppId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deploy_Version] CHECK CONSTRAINT [FK_Deploy_Version_Deploy_Application]
GO
ALTER TABLE [dbo].[Deploy_VersionFile]  WITH NOCHECK ADD  CONSTRAINT [FK_Deploy_VersionFile_Deploy_Binary] FOREIGN KEY([VFBinaryMD5])
REFERENCES [dbo].[Deploy_Binary] ([MD5])
GO
ALTER TABLE [dbo].[Deploy_VersionFile] CHECK CONSTRAINT [FK_Deploy_VersionFile_Deploy_Binary]
GO
ALTER TABLE [dbo].[Deploy_VersionFile]  WITH NOCHECK ADD  CONSTRAINT [FK_Deploy_VersionFile_Deploy_Version] FOREIGN KEY([VFVersionId])
REFERENCES [dbo].[Deploy_Version] ([VersionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deploy_VersionFile] CHECK CONSTRAINT [FK_Deploy_VersionFile_Deploy_Version]
GO




/****** Object:  Table [dbo].[ConfigFormats]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigFormats](
	[FormatId] [int] NOT NULL,
	[FormatName] [nvarchar](50) NULL,
 CONSTRAINT [PK_ConfigFormats] PRIMARY KEY CLUSTERED 
(
	[FormatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConfigGroups]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigGroups](
	[GroupId] [int] NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ConfigGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConfigSettings]    Script Date: 10/05/2017 3:43:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigSettings](
	[KeyName] [nvarchar](50) NOT NULL,
	[KeyGroupId] [int] NULL,
	[ValueFormatId] [int] NOT NULL,
	[ValueString] [nvarchar](max) NULL,
	[ValueBoolean] [bit] NULL,
	[ValueInteger] [int] NULL,
 CONSTRAINT [PK_ConfigSettings] PRIMARY KEY CLUSTERED 
(
	[KeyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO



