<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="encryptedSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <encryptedSettings>
    <!-- Misc Data Encryption, incl. membership -->
    <add key="EncryptionKey" value="somelongpassword" />
    <!-- Communication Security e.g. webservices (and fail-over for encryption key) -->
    <add key="WebServicePassword" value="somelongpassword" />
  </encryptedSettings>
  <appSettings>
    <add key="SqlExpress" value="Database.mdf" />
    <!-- 
            Shorthand:
            <add key="SqlExpress" value="Database.mdf"/>
          
            Normal:
            <add key="Driver" value="SqlClient"/>
            <add key="ConnectionString" value="server=.;uid=login;pwd=;database=database"/>

            or
            <add key="Driver" value="SqlClient"/>
            <add key="ConnectionString" value="server=.;database=database;Trusted_Connection=True;"/>

            or:
            <add key="ActiveConnectionString" value="blah" />
          <connectionStrings /> ... (Sqlserver)        
            -->
    <add key="Layout" value="Horizontal" />
    <add key="MenuTitle" value="Picasso" />
  </appSettings>
  <connectionStrings />
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="~/error.aspx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/upgrade.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/pushUpgrade.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/datasrc.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="pages/someUploadPage.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
      <!-- in kb = 1gb -->
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors defaultRedirect="error.aspx" mode="Off" />
    <authorization>
      <!--<deny users="?"/> Uncomment to activate Forms Auth (create a login first) -->
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" timeout="180" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add type="SchemaMembership.CustomMembershipProvider" name="CustomMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add type="SchemaMembership.CustomRoleProvider" name="CustomRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
        <add namespace="Framework" />
        <add namespace="SchemaAudit" />
        <add namespace="SchemaConfig" />
        <add namespace="SchemaMembership" />
      </namespaces>
      <controls>
        <!-- CActionlessForm (for url-rewriting with postback) -->
        <add tagPrefix="uc" namespace="Framework" assembly="Framework" />
        <!-- Paging -->
        <add tagPrefix="uc" tagName="Paging" src="~/usercontrols/UCPaging.ascx" />
        <add tagPrefix="uc" tagName="TimePicker" src="~/usercontrols/UCTimePicker.ascx" />
        <!-- Form Containers -->
        <add tagPrefix="uc" tagName="FormBegin" src="~/usercontrols/extensions/form/UCFormBegin.ascx" />
        <add tagPrefix="uc" tagName="FormEnd" src="~/usercontrols/extensions/form/UCFormEnd.ascx" />
        <add tagPrefix="uc" tagName="FormButtonsBegin" src="~/usercontrols/extensions/form/UCFormButtonsBegin.ascx" />
        <add tagPrefix="uc" tagName="FormButtonsEnd" src="~/usercontrols/extensions/form/UCFormButtonsEnd.ascx" />
        <add tagPrefix="uc" tagName="FormLabel" src="~/usercontrols/extensions/form/UCFormLabel.ascx" />
        <!-- Form Controls -->
        <add tagPrefix="uc" tagName="Textarea" src="~/usercontrols/extensions/UCTextarea.ascx" />
        <add tagPrefix="uc" tagName="Textbox" src="~/usercontrols/extensions/UCTextbox.ascx" />
        <add tagPrefix="uc" tagName="Dropdown" src="~/usercontrols/extensions/UCDropdown.ascx" />
        <add tagPrefix="uc" tagName="Checkbox" src="~/usercontrols/extensions/UCCheckbox.ascx" />
        <add tagPrefix="uc" tagName="CheckboxList" src="~/usercontrols/extensions/UCCheckboxList.ascx" />
        <add tagPrefix="uc" tagName="RadioButtonList" src="~/usercontrols/extensions/UCRadioButtonList.ascx" />
        <add tagPrefix="uc" tagName="FileUpload" src="~/usercontrols/extensions/UCFileUpload.ascx" />
        <add tagPrefix="uc" tagName="DateTimePicker" src="~/usercontrols/extensions/UCDateTimePicker.ascx" />
        <!-- Menus -->
        <add tagPrefix="uc" tagName="Menu" src="~/usercontrols/UCMenu.ascx" />
        <add tagPrefix="uc" tagName="MenuSide" src="~/usercontrols/UCMenuSide.ascx" />
        <!-- Misc -->
        <add tagPrefix="uc" tagName="Charts" src="~/usercontrols/UCCharts.ascx" />
        <add tagPrefix="uc" tagName="YearMonth" src="~/usercontrols/UCYearMonth.ascx" />
        <add tagPrefix="uc" tagName="PageMessage" src="~/usercontrols/UCPageMessage.ascx" />
      </controls>
    </pages>
    <siteMap enabled="true" defaultProvider="SitemapDefault">
      <providers>
        <add name="SitemapDefault" siteMapFile="~/sitemaps/default.sitemap" type="System.Web.XmlSitemapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfDataSrcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WcfDataSrcBehavior" name="WcfDataSrc">
        <endpoint address="" binding="wsHttpBinding" contract="IWcfDataSrc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>