<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="encryptedSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <encryptedSettings>
    <!-- Misc Data Encryption, incl. membership -->
    <add key="EncryptionKey" value="somelongpassword"/>
    <!-- Communication Security e.g. webservices (and fail-over for encryption key) -->
    <add key="WebServicePassword" value="somelongpassword"/>
  </encryptedSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
  </appSettings>
</configuration>
