<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <configSections>
    <section name="encryptedSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <encryptedSettings>
    <add key="EncryptionKey" value="somelongpassword" />
    <add key="WebServicePassword" value="somelongpassword" />
  </encryptedSettings>
  -->
  <appSettings>
    <add key="Driver" value="SqlClient" />
    <add key="ConnectionString" value="server=.;database=Central;Trusted_Connection=True;" />
    <!--
    <add key="Driver" value="Websrc" />
    <add key="ConnectionString" value="https://admin.controltrackonline.com/" />
    
    <add key="Driver" value="Websrc" />
    <add key="ConnectionString" value="https://admin.controltrackonline.com/" />

    <add key="Driver" value="SqlClient" />
    <add key="ConnectionString" value="server=.;database=Central;Trusted_Connection=True;" />
    <add key="ConnectionString" value="Server=tcp:controltracksaas.database.windows.net,1433;Initial Catalog=controltrackadmin;Persist Security Info=False;User ID=controltrackadmin;Password=5uGZ5kjaQ6+z;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />    
    -->
    <add key="Layout" value="Horizontal" />
    <add key="MenuTitle" value="ControlTrack Admin" />
    <add key="Upgrade.RequireEncryption" value="True" />
    <add key="Upgrade.Password" value="ControlTrack_27April" />
    <add key="Upgrade.DisableAutoUpgrades" value="True" />
    <add key="EncryptionKey" value="somelongpassword" />
    <add key="WebServicePassword" value="somelongpassword" />
    <add key="Upgrade.Encryption" value="Rij" />
    <add key="Upgrade.UseSsl" value="True" />
    <add key="PushUpgrade.Password" value="ControlTrack_27April" />
    <add key="PushUpgrade.Encryption" value="Rij" />
    <add key="PushUpgrade.UseSsl" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="asdf" connectionString="asdf" />
  </connectionStrings>
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="~/error.aspx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/upgrade.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="clearcache.aspx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/pushUpgrade.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="webservices/datasrc.ashx">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <location path="pages/versions/version.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
      <!-- in kb = 1gb -->
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors defaultRedirect="error.aspx" mode="Off" />
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" timeout="180" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add type="SchemaMembership.CustomMembershipProvider" name="CustomMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add type="SchemaMembership.CustomRoleProvider" name="CustomRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages theme="default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
        <add namespace="Framework" />
        <add namespace="SchemaAudit" />
        <add namespace="SchemaAdmin" />
        <add namespace="SchemaMembership" />
      </namespaces>
      <controls>
        <!-- CActionlessForm (for url-rewriting with postback) -->
        <add tagPrefix="uc" namespace="Framework" assembly="Framework" />
        <!-- Paging -->
        <add tagPrefix="uc" tagName="Paging" src="~/usercontrols/UCPaging.ascx" />
        <add tagPrefix="uc" tagName="TimePicker" src="~/usercontrols/UCTimePicker.ascx" />
        <!-- Form Containers -->
        <add tagPrefix="uc" tagName="FormBegin" src="~/usercontrols/extensions/form/UCFormBegin.ascx" />
        <add tagPrefix="uc" tagName="FormEnd" src="~/usercontrols/extensions/form/UCFormEnd.ascx" />
        <add tagPrefix="uc" tagName="FormButtonsBegin" src="~/usercontrols/extensions/form/UCFormButtonsBegin.ascx" />
        <add tagPrefix="uc" tagName="FormButtonsEnd" src="~/usercontrols/extensions/form/UCFormButtonsEnd.ascx" />
        <add tagPrefix="uc" tagName="FormLabel" src="~/usercontrols/extensions/form/UCFormLabel.ascx" />
        <!-- Form Controls -->
        <add tagPrefix="uc" tagName="Textarea" src="~/usercontrols/extensions/UCTextarea.ascx" />
        <add tagPrefix="uc" tagName="Textbox" src="~/usercontrols/extensions/UCTextbox.ascx" />
        <add tagPrefix="uc" tagName="Dropdown" src="~/usercontrols/extensions/UCDropdown.ascx" />
        <add tagPrefix="uc" tagName="Checkbox" src="~/usercontrols/extensions/UCCheckbox.ascx" />
        <add tagPrefix="uc" tagName="CheckboxList" src="~/usercontrols/extensions/UCCheckboxList.ascx" />
        <add tagPrefix="uc" tagName="RadioButtonList" src="~/usercontrols/extensions/UCRadioButtonList.ascx" />
        <add tagPrefix="uc" tagName="FileUpload" src="~/usercontrols/extensions/UCFileUpload.ascx" />
        <add tagPrefix="uc" tagName="DateTimePicker" src="~/usercontrols/extensions/UCDateTimePicker.ascx" />
        <!-- Menus -->
        <add tagPrefix="uc" tagName="Menu" src="~/usercontrols/UCMenu.ascx" />
        <add tagPrefix="uc" tagName="MenuSide" src="~/usercontrols/UCMenuSide.ascx" />
        <!-- Misc -->
        <add tagPrefix="uc" tagName="Charts" src="~/usercontrols/UCCharts.ascx" />
        <add tagPrefix="uc" tagName="YearMonth" src="~/usercontrols/UCYearMonth.ascx" />
        <add tagPrefix="uc" tagName="PageMessage" src="~/usercontrols/UCPageMessage.ascx" />
      </controls>
    </pages>
    <siteMap enabled="true" defaultProvider="SitemapDefault">
      <providers>
        <add name="SitemapDefault" siteMapFile="~/sitemaps/default.sitemap" type="System.Web.XmlSitemapProvider" />
        <add name="SitemapDeploy" siteMapFile="~/sitemaps/deploy.sitemap" type="System.Web.XmlSitemapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfDataSrcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WcfDataSrcBehavior" name="WcfDataSrc">
        <endpoint address="" binding="wsHttpBinding" contract="IWcfDataSrc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.4.987" newVersion="2.28.4.987" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.4.987" newVersion="2.28.4.987" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>