<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="encryptedSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <encryptedSettings>
    <!-- Misc Data Encryption, incl. membership -->
    <add key="EncryptionKey" value="scottwiltonpassword"/>
    <!-- Communication Security e.g. webservices (and fail-over for encryption key) -->
    <add key="WebServicePassword" value="scottwiltonpassword"/>
  </encryptedSettings>
  <system.web>
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>